.section-color {
  background-color: var(--color-background-section);
  margin-top: 96px;
  margin-bottom: 136px;
}

.section {
  display: flex;
  margin: 40px auto;

  @include media('<desktop') {
    flex-direction: column;
    align-items: center;
  }

  &--reverse {
    flex-direction: row-reverse;
    padding-top: 120px;
    padding-bottom: 120px;

    @include media('<desktop') {
      flex-direction: column;
      align-items: center;
    }
  }

  &--article {
    max-width: 537px;

    @include media('<desktop') {
      max-width: 625px;
    }
  }

  &--media {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;

    @include media('<desktop') {
      margin-top: 40px;
    }
  }

  &--img__wrapper {
    position: relative;
    transform: rotate(3.15deg);

    &::before {
      content: '';
      display: block;
      position: absolute;
      inset: 0;
      background-color: var(--color-btn);
      width: 100%;
      height: 100%;
      transform: rotate(-2.75deg);
    }
  }
  &--img__reverse {
    position: relative;
    transform: rotate(-3.15deg);

    &::before {
      content: '';
      display: block;
      position: absolute;
      inset: 0;
      background-color: var(--color-btn);
      width: 100%;
      height: 100%;
      transform: rotate(2.75deg);
    }
  }
}
