.btn {
  display: block;
  text-decoration: none;
  font-size: 47px;
  width: 260px;
  height: 84px;
  border-radius: 28px;

  &--green {
    background-color: var(--color-green);
    color: var(--color-btn);
  }

  @media (hover: hover) {
    &--green:hover {
      background-color: var(--color-btn-green-hover);
    }
  }
}

.rotate-first {
  transform-origin: calc(50% + 65px) calc(50% - 10px);
  transform: rotate(-4deg) translate(65px, -10px);
}

.rotate-second {
  transform-origin: calc(50% - 5px) calc(50% + 25px);
  transform: rotate(3deg) translate(-5px, 25px);
}

.rotate-third {
  transform-origin: calc(50% + 65px) calc(50% + 60px);
  transform: rotate(-4.8deg) translate(65px, 60px);
}
