.header {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;

  &--title {
    max-width: 632px;
    margin-top: 96px;
  }
  &--menu {
    display: flex;
    flex-direction: column;

    &__btn {
      text-align: center;
      margin-top: 16px;
    }
  }
  &--img__wrapper {
    position: relative;
    transform: rotate(6deg);

    &::before {
      content: '';
      display: block;
      position: absolute;
      inset: 0;
      background-color: var(--color-btn);
      width: 100%;
      height: 100%;
      transform: rotate(-6deg);
    }
  }
}
