.project {
  position: relative;
  margin: 64px auto;

  @media (hover: hover) {
    &:hover .project--img__wrapper {
      opacity: 1;
    }
  }

  &--img__wrapper {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 55%;
    transition: opacity 0.6s;
    transform-origin: center center;
    transform: rotate(3.15deg) translate(-50%, -50%);

    &::before {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      inset: 0;
      background-color: var(--color-btn);
      width: 100%;
      height: 100%;
      transform: rotate(-5deg);
    }

    @include media('<desktop') {
      opacity: 1;
      position: unset;
      top: unset;
      left: unset;
      transform: rotate(3.15deg);
    }

    @include media('<tablet') {
      margin-top: 48px;
    }
  }

  @include media('<desktop') {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include media('<tablet') {
    flex-direction: column;
    margin: 40px auto;
  }

  &--row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @include media('<desktop') {
      flex-direction: column;
    }
  }

  &--content {
    max-width: 350px;

    @include media('<tablet') {
      max-width: 625px;
    }
  }

  &--link {
    &-column {
      flex-direction: column;
      justify-content: flex-end;
    }

    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 16px;

    @include media('<desktop') {
      justify-content: unset;
    }

    a {
      display: flex;
      gap: 8px;
      margin-right: 24px;
    }

    a.disabled {
      pointer-events: none;
      cursor: default;
    }

    @media (hover: hover) {
      a:hover {
        color: var(--color-font-beige);
        transition: 0.3s;

        svg {
          fill: #c9d1c1;
          transition: 0.3s;
        }
      }
    }
  }

  &--tag {
    font-size: 16px;
    color: var(--color-green);
    background-color: var(--color-btn);
    border: none;
    border-radius: 100px;
    padding: 8px 10px;
    margin-right: 8px;
  }

  &--line__small {
    height: 1px;
    width: 100%;
    background-color: var(--color-green);
  }
}
