.section--title {
  margin-top: 176px;
  margin-bottom: 64px;

  @include media('<tablet') {
    margin-top: 80px;
    margin-bottom: 0;
  }
}

.section--line {
  margin-top: 32px;
  height: 2px;
  width: 100%;
  background-color: var(--color-green);

  @include media('<tablet') {
    margin-top: 16px;
  }
}
