.h1 {
  font-size: 61px;
  line-height: 1.6;

  @include media('<tablet') {
    font-size: 42px;
    line-height: 1.4;
  }
}

.h2 {
  font-size: 61px;

  @include media('<desktop') {
    font-size: 50px;
  }
  @include media('<tablet') {
    font-size: 40px;
  }
}
.h3 {
  font-size: 28px;
  margin-bottom: 24px;
}
